/DebugBehaviour.class
/DebugGL.class
/DebugPathing.class
/DebugPlanet.class
/DebugSprites.class
/DebugHumanMedia.class
/DebugBehaviour$1.class
/DebugFog.class
/DebugTerrain.class
/DebugStarcharts.class
/DebugSituation.class
/DebugTerrain$1.class
/DebugStartup.class
