/Vareen$1$1.class
/Vareen$1.class
/Vareen.class
/Micovore.class
/Quud.class
/Fauna$1.class
/Fauna.class
/Species$1.class
/Species$2.class
/Species$3.class
/Species$4.class
/Species$Type.class
/Species.class
